client-onboarding-workflow.json
{
  "name": "Client Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - New Client Signup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "new-client"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "fullName",
              "value": "={{ $json.body.fullName }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "serviceType",
              "value": "={{ $json.body.serviceType }}"
            },
            {
              "name": "preferredContact",
              "value": "={{ $json.body.preferredContact }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Client Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "spreadsheet_id",
          "mode": "id"
        },
        "sheetName": "Clients",
        "columns": "={{ $json.fullName }},={{ $json.email }},={{ $json.phone }},={{ $json.serviceType }},={{ $now }}",
        "options": {}
      },
      "name": "Add to Client Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $now.plus({days: 2}).toISO() }}",
        "end": "={{ $now.plus({days: 2, hours: 1}).toISO() }}",
        "summary": "Initial Consultation - {{ $json.fullName }}",
        "description": "Service Type: {{ $json.serviceType }}\nClient Email: {{ $json.email }}\nClient Phone: {{ $json.phone }}",
        "options": {}
      },
      "name": "Schedule Consultation",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "info@lexsklegal.co.uk",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome to Lexsk Legal Limited!",
        "emailFormat": "html",
        "text": "=<h2>Welcome {{ $json.fullName }}!</h2>\n<p>Thank you for choosing Lexsk Legal Limited for your {{ $json.serviceType }} needs.</p>\n<p>We've scheduled your initial consultation for 2 days from now. You'll receive a calendar invitation shortly.</p>\n<h3>Next Steps:</h3>\n<ul>\n<li>Check your email for the calendar invitation</li>\n<li>Review the welcome packet attached to this email</li>\n<li>Prepare any relevant documents for your consultation</li>\n</ul>\n<p>If you have any questions before your consultation, please don't hesitate to contact us.</p>\n<p>Best regards,<br>Lexsk Legal Limited Team</p>",
        "options": {}
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "info@lexsklegal.co.uk",
        "toEmail": "={{ $json.email }}",
        "subject": "Your Consultation Invitation",
        "emailFormat": "html",
        "text": "=<h3>Consultation Details</h3>\n<p>Date: {{ $now.plus({days: 2}).toFormat('EEEE, MMMM d, yyyy') }}</p>\n<p>Duration: 1 hour</p>\n<p>Meeting Link: [Video call link will be provided]</p>\n<p>Please add this to your calendar and let us know if you need to reschedule.</p>",
        "options": {}
      },
      "name": "Send Calendar Invite",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "projectId": {
          "__rl": true,
          "value": "project_id",
          "mode": "id"
        },
        "name": "=Prepare for {{ $json.fullName }} consultation",
        "additionalFields": {
          "notes": "=Service: {{ $json.serviceType }}\nReview client information and prepare relevant documents"
        }
      },
      "name": "Create Task in Project Management",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferredContact }}",
              "operation": "equals",
              "value2": "sms"
            }
          ]
        }
      },
      "name": "Check Preferred Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "message": "=Hi {{ $json.fullName }}, welcome to Lexsk Legal! Your consultation is scheduled for {{ $now.plus({days: 2}).toFormat('EEEE, MMMM d') }}. Check your email for details. Reply STOP to opt out.",
        "toNumber": "={{ $json.phone }}",
        "options": {}
      },
      "name": "Send SMS Confirmation",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Welcome {{ $json.fullName }}! Your onboarding is complete. Check your email for next steps.\", \"clientId\": \"{{ $json.email }}\" }",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - New Client Signup": {
      "main": [
        [
          {
            "node": "Extract Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Client Data": {
      "main": [
        [
          {
            "node": "Add to Client Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule Consultation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Preferred Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Client Database": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Consultation": {
      "main": [
        [
          {
            "node": "Send Calendar Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Calendar Invite": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Preferred Contact": {
      "main": [
        [
          {
            "node": "Send SMS Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task in Project Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Confirmation": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Project Management": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "3",
  "id": "3",
  "meta": {
    "instanceId": "n8n-workflow-library"
  },
  "tags": []
}
